<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Box Design - HTML & CSS www.bootstrapmb.com</title>
    <link rel="stylesheet" href="/static/css/theme.css">
</head>
<body>

	<div class="container">

		<div class="main-search-box pt-3 d-block mx-auto">
			 <form class="search-form w-100" action="/math/search">
				<input type="text" placeholder="数学搜索入口 >>" name="m" class="form-control search-input">
				<button type="submit" class="btn search-btn" value="Search">GO</button>
			</form>
		 </div>
	</div>


</body>
</html>